In [2]:
import pandas as pd
import numpy as np

In [28]:
listt = ["foods","conv", "nu_name", "nu_amount"]
foods = pd.read_csv("./csv/foods.csv")
conv = pd.read_csv("./csv/conv.csv")
nu_name = pd.read_csv("./csv/nu_name.csv")
nu_amount = pd.read_csv("./csv/nu_amount.csv")
daily = pd.read_csv("./csv/daily.csv")

In [4]:
foods.head()

,FoodID,FoodDescription,FoodDescriptionF
0,2,Cheese souffle,Soufflé au fromage
1,4,"Chop suey, with meat, canned","Chop suey, avec viande, conserve"
2,5,"Chinese dish, chow mein, chicken","Mets chinois, chow mein, poulet"
3,6,Corn fritter,"Maïs, beignet"
4,7,"Beef pot roast, with browned potatoes, peas an...","Boeuf braisé, avec pomme de terre au four, poi..."

In [5]:
conv.head()

   FoodID  ConversionFactorValue ConvFactorDateOfEntry
0       2                0.40152            1997-05-01
1       2                0.50190            2003-08-12
2       2                1.00380            2003-08-12
3       4                0.92984            2004-06-10
4       4                1.16230            2004-06-10

In [10]:
no_dup = conv.drop_duplicates(subset=["FoodID"], keep='last')

In [ ]:
def titler(x):
    return x.title()

In [ ]:
nu_name.NutrientName = nu_name.NutrientName.apply(titler)
nu_name.NutrientNameF = nu_name.NutrientNameF.apply(titler)
nu_name

,NutrientUnit,NutrientName,NutrientNameF,NutrientDecimals
NutrientID,,,,
203,g,Protein,Protéines,2
204,g,Fat (Total Lipids),Lipides Totaux,2
205,g,"Carbohydrate, Total (By Difference)",Glucides Totaux (Par Différence),2
207,g,"Ash, Total","Cendres, Totales",2
208,kCal,Energy (Kilocalories),Énergie (Kilocalories),0
...,...,...,...,...
847,g,"Fatty Acids, Monounsaturated, 12:1, Lauroleic","Acides Gras Monoinsaturés, 12:1, Lauroleic",3
848,g,"Fatty Acids, Polyunsaturated, 22:3,","Acides Gras Polyinsaturés, 22:3",3
849,g,"Fatty Acids, Polyunsaturated, 22:2, Docosadienoic","Acides Gras Polyinsaturés, 22:2, Docosadiénoïque",3
868,g,"Fatty Acids, Polyunsaturated, Total Omega N-3","Acides Gras Polyinsaturés, Totaux D'Oméga N-3\n",3
869,g,"Fatty Acids, Polyunsaturated, Total Omega N-6","Acides Gras Polyinsaturés, Totaux D'Oméga N-6",3

In [22]:
right = no_dup.set_index("FoodID")
left = foods.set_index("FoodID")
merged1 = left.join(right).drop("ConvFactorDateOfEntry", 1)
merged1

/tmp/ipykernel_136066/1248203005.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  merged1 = left.join(right).drop("ConvFactorDateOfEntry", 1)

,FoodDescription,FoodDescriptionF,ConversionFactorValue
FoodID,,,
2,Cheese souffle,Soufflé au fromage,1.00380
4,"Chop suey, with meat, canned","Chop suey, avec viande, conserve",2.32460
5,"Chinese dish, chow mein, chicken","Mets chinois, chow mein, poulet",2.32472
6,Corn fritter,"Maïs, beignet",0.55000
7,"Beef pot roast, with browned potatoes, peas an...","Boeuf braisé, avec pomme de terre au four, poi...",1.40000
...,...,...,...
503365,"Orange juice, frozen concentrate, diluted, wit...","Jus d'orange, concentré, dilué, calcium et vit...",2.63102
503366,"Margarine, tub, hydrogenated, soybean oil","Margarine, molle, hydrogénée, huile de soya",0.10000
503367,"Margarine, tub, hydrogenated, canola oil","Margarine, molle, hydrogénée, huile de canola",0.10000
503379,"Chocolate syrup, thin type, less sugar, with a...","Chocolat, sirop, consistance claire, moins de ...",0.35520
503380,"Granola bar, chewy, high fibre, oats and choco...","Barre granola, tendre, élevée en fibres, avoin...",0.30000

In [25]:
merged1.to_csv('merged.csv')

In [30]:
nu_name

,NutrientID,NutrientUnit,NutrientName,NutrientNameF,NutrientDecimals
0,203,g,PROTEIN,PROTÉINES,2
1,204,g,FAT (TOTAL LIPIDS),LIPIDES TOTAUX,2
2,205,g,"CARBOHYDRATE, TOTAL (BY DIFFERENCE)",GLUCIDES TOTAUX (PAR DIFFÉRENCE),2
3,207,g,"ASH, TOTAL","CENDRES, TOTALES",2
4,208,kCal,ENERGY (KILOCALORIES),ÉNERGIE (KILOCALORIES),0
...,...,...,...,...,...
147,847,g,"FATTY ACIDS, MONOUNSATURATED, 12:1, LAUROLEIC","ACIDES GRAS MONOINSATURÉS, 12:1, LAUROLEIC",3
148,848,g,"FATTY ACIDS, POLYUNSATURATED, 22:3,","ACIDES GRAS POLYINSATURÉS, 22:3",3
149,849,g,"FATTY ACIDS, POLYUNSATURATED, 22:2, DOCOSADIENOIC","ACIDES GRAS POLYINSATURÉS, 22:2, DOCOSADIÉNOÏQUE",3
150,868,g,"FATTY ACIDS, POLYUNSATURATED, TOTAL OMEGA N-3","ACIDES GRAS POLYINSATURÉS, TOTAUX D'OMÉGA N-3\n",3
151,869,g,"FATTY ACIDS, POLYUNSATURATED, TOTAL OMEGA N-6","ACIDES GRAS POLYINSATURÉS, TOTAUX D'OMÉGA N-6",3

In [26]:
nu_amount.head()

   FoodID  NutrientID  NutrientValue
0       2         203           9.54
1       2         204          15.70
2       2         205           5.91
3       2         207           1.67
4       2         208         204.00

In [29]:
daily.head()

,Components,Unit,Type,0,0.5,1,4,9 m,14 m,19 m,...,19 f,31 f,51 f,70 f,0 p,19 p,31 p,0 l,19 l,31 l
0,Vitamin A,μg,Min,NaN,NaN,210,275,445,630,625,...,500,500,500,500,530,550,550,885,900,900
1,Vitamin A,μg,Good,400,500.0,300,400,600,900,900,...,700,700,700,700,750,770,770,1200,1300,1300
2,Vitamin A,μg,Max,600,600.0,600,900,1700,2800,3000,...,3000,3000,3000,3000,2800,3000,3000,2800,3000,3000
3,Vitamin A,IU,Min,NaN,NaN,700,917,1483,2100,2083,...,1667,1667,1667,1667,1767,1833,1833,2950,3000,3000
4,Vitamin A,IU,Good,1333,1667.0,1000,1333,2000,3000,3000,...,2333,2333,2333,2333,2500,2567,2567,4000,4333,4333