In [20]:
import pandas as pd
import numpy as np

merged = pd.read_csv("./csv/merged.csv").set_index("FoodDescription")
nu_name = pd.read_csv("./csv/nu_name.csv").set_index("NutrientID")
nu_amount = pd.read_csv("./csv/nu_amount.csv")
daily = pd.read_csv("./csv/daily.csv")

In [21]:
merged

,FoodID,FoodDescriptionF,ConversionFactorValue
FoodDescription,,,
Cheese souffle,2,Soufflé au fromage,1.00380
"Chop suey, with meat, canned",4,"Chop suey, avec viande, conserve",2.32460
"Chinese dish, chow mein, chicken",5,"Mets chinois, chow mein, poulet",2.32472
Corn fritter,6,"Maïs, beignet",0.55000
"Beef pot roast, with browned potatoes, peas and corn",7,"Boeuf braisé, avec pomme de terre au four, poi...",1.40000
...,...,...,...
"Orange juice, frozen concentrate, diluted, with added calcium and Vitamin D",503365,"Jus d'orange, concentré, dilué, calcium et vit...",2.63102
"Margarine, tub, hydrogenated, soybean oil",503366,"Margarine, molle, hydrogénée, huile de soya",0.10000
"Margarine, tub, hydrogenated, canola oil",503367,"Margarine, molle, hydrogénée, huile de canola",0.10000
"Chocolate syrup, thin type, less sugar, with added vitamins and minerals",503379,"Chocolat, sirop, consistance claire, moins de ...",0.35520
"Granola bar, chewy, high fibre, oats and chocolate",503380,"Barre granola, tendre, élevée en fibres, avoin...",0.30000

In [8]:
daily.head()

,Components,Unit,Type,0,0.5,1,4,9 m,14 m,19 m,...,19 f,31 f,51 f,70 f,0 p,19 p,31 p,0 l,19 l,31 l
0,Vitamin A,μg,Min,NaN,NaN,210,275,445,630,625,...,500,500,500,500,530,550,550,885,900,900
1,Vitamin A,μg,Good,400,500.0,300,400,600,900,900,...,700,700,700,700,750,770,770,1200,1300,1300
2,Vitamin A,μg,Max,600,600.0,600,900,1700,2800,3000,...,3000,3000,3000,3000,2800,3000,3000,2800,3000,3000
3,Vitamin A,IU,Min,NaN,NaN,700,917,1483,2100,2083,...,1667,1667,1667,1667,1767,1833,1833,2950,3000,3000
4,Vitamin A,IU,Good,1333,1667.0,1000,1333,2000,3000,3000,...,2333,2333,2333,2333,2500,2567,2567,4000,4333,4333

In [19]:
nu_amount

        FoodID  NutrientID  NutrientValue
0            2         203           9.54
1            2         204          15.70
2            2         205           5.91
3            2         207           1.67
4            2         208         204.00
...        ...         ...            ...
524669  503380         861           0.00
524670  503380         862          12.40
524671  503380         863           3.30
524672  503380         874           0.00
524673  503380         875           0.00

[524674 rows x 3 columns]

In [22]:
nu_name

,NutrientUnit,NutrientName,NutrientNameF,NutrientDecimals
NutrientID,,,,
203,g,Protein,Protéines,2
204,g,Fat (Total Lipids),Lipides Totaux,2
205,g,"Carbohydrate, Total (By Difference)",Glucides Totaux (Par Différence),2
207,g,"Ash, Total","Cendres, Totales",2
208,kCal,Energy (Kilocalories),Énergie (Kilocalories),0
...,...,...,...,...
847,g,"Fatty Acids, Monounsaturated, 12:1, Lauroleic","Acides Gras Monoinsaturés, 12:1, Lauroleic",3
848,g,"Fatty Acids, Polyunsaturated, 22:3,","Acides Gras Polyinsaturés, 22:3",3
849,g,"Fatty Acids, Polyunsaturated, 22:2, Docosadienoic","Acides Gras Polyinsaturés, 22:2, Docosadiénoïque",3
868,g,"Fatty Acids, Polyunsaturated, Total Omega N-3","Acides Gras Polyinsaturés, Totaux D'Oméga N-3\n",3
869,g,"Fatty Acids, Polyunsaturated, Total Omega N-6","Acides Gras Polyinsaturés, Totaux D'Oméga N-6",3